.mijnnaam {
	color: blue;
	text-align: left;
	font-size: 40pt;
	font-family: minion pro;
	font-style: italic;
	position: absolute;
	left: 40px;
	right: 10px;
}

.uitleg2{
	color: blue;
	font-family: minion pro;
	font-style: italic;
	font-size: 40pt;
	text-align: left;
	position: absolute;
	left: 40px;
	right: 10px;
	top: 70px;	
}

.menu{
	font-size: 20pt;
	color: #000000;
	font-family: minion pro;
	font-style: italic;
	position: absolute;
	top: 190px;
	left: 40px;
	text-decoration: underline;
}

.ik{
	width: 50%;
	height: 50%;
	position: absolute;
	right: 10px;
}

.herbarium{
	width: 50%;
	height: 50%;
	position: absolute;
	top: 100px;
}

.back{
	font-family: minion pro;
	font-style: italic;
	font-size: 20pt;
	left: 10pt;
	position: absolute;
}